@using OnlineCommercialAutomation.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DepartmentDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>DepartmentDetail</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı : @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel Adı ve Soyadı</th>
        <th>Personel Satışları</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.EmployeeName @x.EmployeeSurname</td>
        <td><a href="/Department/DepartmentEmployeeSale/@x.EmployeeID" class="btn btn-default" style="background-color:cadetblue">Satışlar</a></td>
    </tr>
    }
</table>